html {
  background-color:#262626;
}
.square {
  display: inline-block;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}
.board {
  width: 465px;
  height: 464px;
  margin: auto;
  margin-top: 200px;
  background-color: #ff3399;
}

.main-container {
 width: 100%;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.white {
  background-color: white;
}
.reset {
  margin: auto;
}
